# Server Config
PORT=5000

# Database
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/silverpath

# Authentication
JWT_SECRET=replace_with_strong_random_secret

# Cloudinary - Get these from your Cloudinary Dashboard
CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret